body{
  background-color:#af2929;
  font-family: Helvetica;
  
}

.start-logo{
  text-align: center;
  margin:10px;
}

.body{
  align-items: center;
}

/* Header */
.header-wrapper {
  background-image: linear-gradient( rgb(255, 255, 255) , rgb(255, 255, 149));

  width: 100%;
  height: 90px;

}

button:focus, input[type="button"]:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  position: relative;
  margin-left:90px;
  padding-top:10px;

}

.container{
  background: rgba(255, 255, 255, 0.863);
  display:block;
  margin: 20px auto;
  padding: 20px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
}

/* Selected recipe */
.recipe-wrapper {
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.recipe-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}
.facebook{
  justify-self: end;
  align-self: flex-end;
  margin-top:-40px;
  width:150px;
}
.recipe-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
}

.recipe-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
}

.btn-action{
  font-family: Helvetica;
  background-color:#f5a623;
  border-color: #f5a623;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
}

/* recipe List */
.recipe-list-wrapper {
  padding-top:20px;
}

.add-header{
  font-size:24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  color:#ff483b;
  margin-top:5px;
  margin-bottom: -15px;
}

hr{
  border: 2px solid #ff483b;
}

.bold{
  font-weight: bold;
}

.single-image{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
  max-height: calc(100vh - 220px);
  width: 100%;
  margin-bottom:10px;
  border-radius: 5px;
}

.overview{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  font-size:20px;
  margin-top:20px;
  margin-bottom:10px;
  align-self: right;
  text-align: center;
}

.ingridients{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  display: block;
  margin: 10px;
  background-color: #ffe3e1;
  font-size: 16px;
  padding:10px;
  border-radius: 10px;
}

.description{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin:10px;
  font-size: 16px;
}

h5{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-bottom:0px;
}

h6{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  margin-top:-15px;
  font-style: italic;
  font-weight: bold;
}

.add-hr{
  border: 1.5px solid #ffa69f;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.form-group label{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size:20px;
}

.form-group input{
  font-size:16px;
}
.form-group small{
  font-size:14px;
  font-style: italic;
}

.search-button{
  background-color: white;
}

.search-button:hover {
  background-color: #ff483b;
  border-color: #ff483b;
  color: white;
}

.webcam{
  border-radius: 10px;
}
.login{
  margin: 0px;
}

.login button{
  margin-top:10px;
}

.app-card-list {
  text-align: center;
  display:inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  width:100%;
  padding: 10px;
  min-height: 75vh;
  white-space:normal;
  margin-top:10px;
}
.card-header{
  min-height: 250px;
  
}

  .card {
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    width:30%;
    justify-self: center;
    min-width: 340px;
    min-height: 300px;
  }
    .card-body {
        white-space: normal;
  }

  .card-tags{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    height: auto;
    background-color: rgba(255, 0, 0, 0.555);
    padding: 4px 8px 3px 9px;
    border-radius: 10px;
  }

  .add-button {
    display: block; /* Hidden by default */
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d32a00; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.add-button:hover {
  background-color: rgb(255, 217, 217); /* Add a dark-grey background on hover */
  color:black;
}

.find-button {
  background-color: white; 
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #ff3f0f; 
  border: 2px solid #ff3f0f;
  border-radius: 10px;
  padding:5px 10px 5px 10px;
}

.find-button:hover {
  background-color: #ff3f0f;
  color: white;
}

.right-container{
  float: right;
}

.right-container button{
  margin-left: 10px;

}

.up{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size:24px;
}

.confirm{
  float: right;
}


.confirm button{
  margin-left: 10px;
  border: none;
}

h3{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 32px;
  font-weight: bold;
}
.body-content{
  font-style: italic;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  color: #5e5454;
}



